{% extends "base.html" %}


{% block content %}
<h1>{{ post.title }}</h1>
<small>Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small><br>
<hr>
<br>

{{ post.body }}

<br>
<hr>

{% if post.post_image %}
    <!--
    {{ post.post_image }}
    <br>
    {{ post.post_image.url }}
    <br>
    -->
    <img src="{{ post.post_image.url }}" width="500">
{% endif %}

<br><br>



 {% for image in character_universe_list %}
    <!--
    {{post.title}}
    <br>
    {{image.post_title}}
    <br>
    ---------------------
    <br>
    -->
    {% if post.title == image.title %}
        <img src="{{ image.post_images.url }}" width="500">
    {% endif %}
 {% endfor %}


<br><br>
<a href="{% url 'home' %}">  Powrót</a>
{% endblock %}